* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
  }
  
  :root {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  :root:root {
    --adm-color-primary:#b45309;
  }

  .adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
    display:flex;
    justify-content: center;
  }
  
   .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  } 
  
   @media (min-width: 768px) {
    .container {
      width: 61.8%; 
      margin: 0 auto; 
      border:solid 1px #10c6b1
    }
  }
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.top{
    border-bottom: solid 1px var(--adm-color-border);
}

.body{
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.bottom{
    border-top: solid 1px var(--adm-color-border);
}

